 @media (max-width:600px){ 


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: sans-serif;

    }
.menu_bar .hamburgur-menu:hover{
    background-color: #82ea6b;
    
}
    .menu-bar{


        /* let us create the top menu styles */
        /* height: 50px;
        width: 100%; */
        padding: 10px;
       
        justify-content: flex-start;
        align-items: center;
        display: flex;







    }
    /* desing a hamburgur icon that 3 lines */
    .hamburgur-menu{
        height: 30px;
        width: 30px;
        
        position: relative;
        

    }

    .ham-burgur{
        width: 77%;
        height: 10%;
        background-color: #fff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: transform .6s opacity .8s,top .6s;

    }

    .top{
        top: 25%;

    }

    .bottom{
        top: 75%;

    }
    /* -------------------------------------------------- */
    /*END  desing hamburgur menu 3 lines cpmleted  */


    /* START on click menu change to cross making  */
    .hamburgur-menu.active .top{
        transform:translate(-50%,-50%) rotate(-315deg);
        top: 50%;

    }

    .hamburgur-menu.active .mid{
        opacity: 0;

    }

    .hamburgur-menu.active .bottom{
        transform:translate(-50%,-50%) rotate(-225deg);
        top: 50%;

    }
    /* -------------------------------------------------- */
     /* END OF  on click menu change to cross making  */


     /* START of offscreen menu on clciking the hamburgurmenu  */
     .off-screen-menu {
        position: fixed;
        top: 50px;
        right: -50%; /* Change 'left' to 'right' */
        background-color: black;
        height: 33%;
        width: 35%;
        padding: 5px;
        opacity: 0.87;
        transition: right 0.5s; 
        /* Change 'left' to 'right' */
      }

      .off-screen-menu ul li a{
        font-size: 13px;
        padding: 5px;

      }
      .off-screen-menu ul li {
    
        padding: 10px;

      }
      .off-screen-menu.active {
        right: 0; /* Show the menu from the right side */
      }



    /* end of off-screeen meun creation */
     /* --------------------------------------------------------- */


/* menu items ------------------------- */

  
  /* menu items closing ------------------------------------- */


    

    

}